---
permalink: /manifest.json
---
{
    "name": "{{ data.site.name }}",
    "short_name": "{{ data.site.shortname }}",
    "description": "{{ data.site.description }}",
    "start_url": "/",
    "display": "standalone",
    "background_color": "#ffffff",
    "theme_color": "{{ data.site.theme_colour }}",
    "icons": [
        {
            "src": "/assets/logos/logo.svg",
            "type": "image/svg+xml",
            "sizes": "any"
        },
        {
            "src": "/assets/logos/splash_icon.png",
            "type": "image/png",
            "sizes": "512x512"
        },
        {
            "src": "/assets/logos/maskable_icon.png",
            "type": "image/png",
            "sizes": "196x196",
            "purpose": "any maskable"
        }
    ]
}
