<footer class="footer">
    <div class="container">
        <p class="footer__text">
            &copy; {{ "" | currentYear }} {{ data.site.name }}
        </p>
        <p class="footer__updated">
            Made with love for {{ data.cat.name }} 🐱
        </p>
    </div>
</footer>
